    *{
    padding: 0;
    margin: 0;
    }
    ul{
    list-style: none;
    }

    ul li{
    display: inline-block;
    }

    a{
    text-decoration: none;
    color: #333;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    }

    a:hover{
    color: #bd2631;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    }
    .body{
    font: 14px/1.5 'Hind';
    }
    .clearfix:after,
    .clearfix:before{
    display: table;
    content: '';
    }
    .clearfix:after{
    clear: both;
    }


    /*  end*/


    /*!*    HEADER   *!*/
    .contacts-information{
    background: #ededed;
    padding: 13px 100px;
    }
    .address-block{
    float: left;
    }
    .address-block div{
    display: inline-block;
    margin-right: 15px;
    }
    .social-icons{
    float: right;
    margin-top: 7px;
    }
    .social-icons ul li{
    margin-left: 20px;
    }

    .fa-phone,
    .fa-location-arrow{
    color: #000;
    }

    .city{
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 5px 15px;
    }

    .fa-angle-down{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 2px;
    }

    .mobile-menu{
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
    }

    /*!****   BLOCK2   *!*/
    .logo-section{
    padding: 29px 100px;
    background: #fff;
    }

    .logo{
    float: left;
    }

    .static-info{
    float: right;
    margin-top: 17px;
    }
    .title{
    color: #000;
    font-weight: 600;
    font-size: 15px;
    }

    .static-info li p:first-of-type{
    float: left;
    margin-right: 15px;
    color: #000;
    font-size: 18px;
    }

    .static-info li p:last-of-type{
    display: inline-block;
    }

    .static-info p > span{
    display: block;
    }

    .static-info ul li{
    padding-right: 35px;
    border-right: 1px solid #e6e6e6;
    margin-right: 20px;
    }

    .static-info ul li:last-of-type{
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    }


    /*BLOCK3 */

    .navigation {
    background: #000;
    padding: 0 100px;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    }

    .navigation nav{
    float: left;
    }

    nav li a{
    color: #fff;
    font-size: 16px;
    padding: 24px 16px 16px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 7px solid transparent;
    }

    nav li a:hover{
    color: #fff;
    border-bottom: 6px solid #bd2631;
    }

    .current a{
    border-bottom: 6px solid #bd2631;

    }
    .search{
    float: right;
    color: #fff;
    line-height: 3.5;
    font-size: 19px;
    }


    /*!*    END   *!*/
      .slider{
    position: relative;
    }

    .slider-item{
    background: url("../img/slid1.png") right center no-repeat;
    height: 600px;
    position: relative;
    border: 1px solid red;
    }


    .slider-content{
    background: rgba(0, 0, 0, 0.71);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    color: #fff;
    font-size: 20px;
    padding: 0 60px;
    }

    .slider-content h2{
    color: red;
    margin-top: 20px;

    }


    .slider-content h3{
    color: red;

    }

  

    .arrows{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 99;
    cursor: pointer;
    }

    .left{
    left: 20px;
    color: red;

    }

    .right{
    right: 20px;
    color: red;
    }

    .request{
    background: #bd2631;
    padding: 10px 140px;
    display: flex;
    align-items: center;
    }

    .request-block{
    float: left;
    color: #fff;
    font-size: 20px;
    }

    .request-button{
    margin: 0 0 0 auto;
    }

    .request-button button{
    padding: 10px;

    }

